@model LoginViewModel
@{
    ViewData["Title"] = "Cerrar sesión";
}
<link rel="stylesheet" href="~/css/loginIn.css" />

<div class="text-center card col-md-8 mx-auto">
    <h1 class="card-title">Cerrar sesión</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="d-grid">
                    <button class="btn btn-primary" type="button">Button</button>
                    <button class="btn btn-primary" type="button">Button</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/LoginIn.js"></script>
