@using System.Security.Claims;
@{
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Tesis.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.css" integrity="sha512-Z0kTB03S7BU+JFU0nw9mjSBcRnZm2Bvm0tzOX9/OuOuz01XQfOpa0w/N9u6Jf2f1OAdegdIPWZ9nIZZ+keEvBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-6 col-lg-8">
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Inicio" style="display: inline-block;">
                                <img class="center-block" src="~/img/logo.svg" width="100%" height="100%" />
                            </a>
                        </div>
                        <div class="col-6 d-inline-flex d-lg-flex justify-content-end align-items-center">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end doc-icon flex-row-reverse">
                    <ul class="navbar-nav align-items-center">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Inicio" style="white-space: nowrap;">Secciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Sugerencias" style="white-space: nowrap;">Preguntas frecuentes</a>
                        </li>
                        <li class="nav-item">
                            @if(User.Identity.IsAuthenticated) {
                                <a class="btn" asp-controller="Turnos" asp-action="MiUsuario">
                                    <span style="white-space: nowrap;">MiUsuario <i class="fa-solid fa-user"></i></span>
                                </a>
                            } else {
                                <a class="btn" asp-controller="Home" asp-action="Login">
                                    <span style="white-space: nowrap;">MiUsuario <i class="fa-solid fa-user"></i></span>
                                </a>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="border-top footer fixed-bottom top-100">
        <div class="container-fluid" style="background-color:#6A86C3; color:white">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-4 text-lg-start text-md-start text-center">
                        <h4><a class="nav-link px-2 text-white" asp-controller="Home" asp-action="Sugerencias">Sugerencias</a></h4>
                        <h4><a class="nav-link px-2 text-white" asp-controller="Home" asp-action="Sugerencias">Preguntas frecuentes</a></h4>
                    </div>

                    <div class="col-md-4 col-lg-4 text-center">
                        <h4><span>Contáctenos</span></h4>
                        <h6><span><i class="fa-solid fa-phone"></i> 123456789</span></h6>
                        <h6><span><i class="fa-regular fa-envelope"></i> correo@correo.cl</span></h6>
                    </div>

                    <div class="col-md-4 col-lg-4 text-lg-end text-md-end text-center">
                        <h4><span>Dónde encontrarnos</span></h4>
                        <h6><a href="https://maps.app.goo.gl/XVjJ9PxyM72mLP1v9" class="nav-link px-2 text-white"><i class="fa-solid fa-location-dot"></i> Estado 279, Curicó</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </footer>





    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
