@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="card">
    <h5 class="card-header">Dirección de Aseo y Ornato</h5>
    <div class="card-body">
        <h5 class="card-title">Descripción</h5>
        <p class="card-text">Dirección de Aseo y Ornato, Transporte y Movilización, es la Unidad de línea asesora y operativa, de dependencia del Alcalde, encargada del Aseo y Ornato de los bienes nacionales de uso público existente en la Comuna, del servicio de recolección de residuos domiciliarios y disposición final en relleno sanitario. De la construcción, conservación y administración de las áreas verdes, así como también de proponer medidas tendientes a materializar acciones y programas relacionados con medio ambiente de la Comuna y lo relacionado con la administración y mantención de vehículos municipales.</p>

        <h5 class="card-title">Trámites:</h5>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading_1">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_1" aria-expanded="true" aria-controls="collapse_1">
                        Pago Derechos de Aseo
                    </button>
                </h2>
                <div id="collapse_1" class="accordion-collapse collapse" aria-labelledby="heading_1" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Descripción del trámite y los documentos que se necesitan.
                        <ul>
                            <li>Rol de la Propiedad</li>
                        </ul>
                    </div>
                </div>
            </div>
           @* <div class="accordion-item">
                <h2 class="accordion-header" id="heading_2">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_2" aria-expanded="true" aria-controls="collapse_2">
                        tramite 2
                    </button>
                </h2>
                <div id="collapse_2" class="accordion-collapse collapse" aria-labelledby="heading_2 " data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Descripción del tramite y los documentos que se necesitan.
                        <ul>
                            <li>Documento 1</li>
                            <li>Documento 2</li>
                            <li>Documento 3</li>
                        </ul>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
<div class="card-footer text-end" style="margin-bottom:50px;">
        <a asp-controller="Home" asp-action="Inicio" class="btn btn-outline-danger float-right">Cancelar</a>
        <a asp-controller="Turnos" asp-action="AgendarHoraGeneral" class="btn btn-outline-dark float-right">Pedir hora</a>
    </div>
</div>
