@{
    ViewData["Title"] = "Inicio";
}
<div class="accordion" id="accordionExample">
    @*es un ciclo for para crear los acordeones de forma automatica*@
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading_1">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_1" aria-expanded="true" aria-controls="collapse_1">
                Dirección de Aseo y Ornato
            </button>
        </h2>
        <div id="collapse_1" class="accordion-collapse collapse show" aria-labelledby="heading_1" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Dirección de Aseo y Ornato, Transporte y Movilización, es la Unidad de línea asesora y operativa, de dependencia del Alcalde, encargada del Aseo y Ornato de los bienes nacionales de uso público existente en la Comuna, del servicio de recolección de residuos domiciliarios y disposición final en relleno sanitario. De la construcción, conservación y administración de las áreas verdes, así como también de proponer medidas tendientes a materializar acciones y programas relacionados con medio ambiente de la Comuna y lo relacionado con la administración y mantención de vehículos municipales.
                <a asp-controller="Home" asp-action="Dirección_de_Aseo_y_Ornato">Ver más</a>
            </div>
            <div class="card-footer text-end">
                <a asp-controller="Turnos" asp-action="AgendarHoraGeneral" class="btn btn-outline-dark float-right">Pedir hora</a>
            </div>
        </div>
    </div>

</div>      