@{
    ViewData["Title"] = "Inicio de sesión";
}
<div class="text-center card col-md-8 mx-auto">
    <h1 class="card-title">Bienvenido a inicio de sesión</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="btn-group-vertical" role="group">
                     <div class="btn-container">
                        <a class="btn btn-primary" asp-controller="Auth" asp-action="LoginIn">Ingresar con RUN</a>
                    </div>
                   @* <div class="btn-container">
                        <a class="btn" style="background-color: #093f75" asp-controller="Auth" asp-action="LoginIn"><img src="~/img/Clave unica.svg" /></a>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
